# 项目排除路径
/project/project/target/
/project/target/
/target/
/target/scala-2.13/classes/
/target/scala-2.13/test-classes/
Cache.anno.json
Cache.fir
Cache.v
CacheAXI.anno.json
CacheAXI.fir
CacheAXI.v
CSR.anno.json
CSR.fir
CSR.v
learnclass.anno.json
learnclass.fir
learnclass.v
learnclassMem.anno.json
learnclassMem.fir
learnclassMem.v
Memory.anno.json
Memory.fir
Memory.v
RegisterFileGroup.anno.json
RegisterFileGroup.fir
RegisterFileGroup.v
rpu_core.anno.json
rpu_core.fir
rpu_core.v
